{% extends 'app_backend/base.html' %}
{% load static %}


{% block styles %}
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block headcontent %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">สัมภาษณ์เลือก Site visit</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Starter Page</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock%}

{% block content %}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ bus_type_production|default_if_none:"--" }} ราย</h3>
                <p>ภาคการผลิต</p>
              </div>
              <div class="icon">
                <i class="fas fa-industry"></i>
              </div>
              <a href="#" class="small-box-footer"></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ bus_type_service|default_if_none:"--" }} ราย</h3>
                <p>ภาคบริการ ค้าส่ง หรือค้าปลีก</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <a href="#" class="small-box-footer"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ bus_type_farm|default_if_none:"--" }} ราย</h3>
                <p>ธุรกิจเกษตร</p>
              </div>
              <div class="icon">
                <i class="fas fa-tractor"></i>
              </div>
              <a href="#" class="small-box-footer"></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ total_bus }} ราย</h3>
                <p>รวมทุกกลุ่ม</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer"></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
            <form action="" method="POST">
            {% csrf_token %}
              <div class="card-header">
                <div class="btn-group">
                  <button type="submit" name="approval" value="pass" class="btn btn-block btn-primary">ผ่านสัมภาษณ์</button>
                </div>
                <div class="btn-group">
                  <button type="submit" name="approval" value="notpass" class="btn btn-block btn-warning">ไม่ผ่าน</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="sme-list" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th></th>  
                    <th class="reffilter">เลขสมัคร</th>  
                    <th class="reffilter">บริษัทย์</th>
                    <th class="reffilter">คะแนนรวม</th>
                    <th class="reffilter">หมวดที่1(120)</th>                    
                    <th class="reffilter">หมวดที่2(120)</th>  
                    <th class="reffilter">หมวดที่3(120)</th>
                    <th class="reffilter">หมวดที่4(100)</th>
                    <th class="reffilter">หมวดที่5(140)</th>
                    <th class="reffilter">หมวดที่6(160)</th>
                    <th class="reffilter">หมวดที่7(240)</th>
                    <th class="reffilter">ประเภทกิจการ</th>   
                    <th>ฟอร์ม</th>                    
                    <th>ข้อมูล</th>                    
                  </tr>
                  </thead>
                  <tbody>
                  {% for register in queryset %}
                  {% if register.form_interview.visit_summary == True %}  
                  <tr>
                  {% else %}
                  <tr class="table-danger">
                  {% endif%}
                    {% if register.form_interview is None %}
                      <td></td>  
                    {% else %}
                      <td><input type="checkbox"  name="regis_id" value="{{ register.id }}" ></td>  
                    {% endif %} 
                    <td>{{ register.form_register }}</td>
                    <td>{{ register.enterpise.name }}</td>
                    <td>{{ register.form_interview.total_score }}</td>
                    <td>{{ register.form_interview.score1 }}</td>
                    <td>{{ register.form_interview.score2 }}</td>
                    <td>{{ register.form_interview.score3 }}</td>
                    <td>{{ register.form_interview.score4 }}</td>
                    <td>{{ register.form_interview.score5 }}</td>
                    <td>{{ register.form_interview.score6 }}</td>
                    <td>{{ register.form_interview.score7 }}</td>
                    <td>{{ register.enterpise.business_type }}</td>  
                    {% if register.form_interview is None %}
                      <td><a href="{% url 'interview-form' register.enterpise.id register.id %}">
                        <i class="far fa-file-alt fa-2x" title="ให้คะแนน"></i>
                        </a>
                      </td>   
                    {% else %}
                    <td><a href="{% url 'interview-update' register.form_interview.id %}">
                      <i class="far fa-file-alt fa-2x" title="แก้คะแนน"></i>
                      </a>
                    </td>  
                    {% endif %}
                    <td><a href="{% url 'sme-info' register.id %}">
                          <i class="fas fa-search fa-2x" title="ข้อมูล"></i>
                        </a>
                    </td>                    
                  </tr> 
                  {% endfor %}                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th></th>  
                    <th class="filter">เลขสมัคร</th>  
                    <th class="filter">บริษัทย์</th> 
                    <th class="filter">คะแนนรวม</th>
                    <th class="filter">หมวดที่1(120)</th>                    
                    <th class="filter">หมวดที่2(120)</th>   
                    <th class="filter">หมวดที่3(120)</th>
                    <th class="filter">หมวดที่4(100)</th>
                    <th class="filter">หมวดที่5(140)</th>
                    <th class="filter">หมวดที่6(160)</th>
                    <th class="filter">หมวดที่7(240)</th>
                    <th class="filter">ประเภทกิจการ</th>   
                    <th></th>   
                    <th></th>                    
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </form>
            </div>            
            <!-- /.card -->  
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>

{% endblock%}


{% block scripts %}
<!-- DataTables -->
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- page script -->
<script src="{% static 'app_sme12/js/interview_list.js' %}"></script>
{% endblock %}