{% extends 'app_backend/base.html' %}
{% load static %}
{% load widget_tweaks %}
    
{% block styles %}
<!-- SmartWizard -->
<link rel="stylesheet" href="{% static 'smart-wizard/dist/css/smart_wizard.min.css' %}">
<link rel="stylesheet" href="{% static 'smart-wizard/dist/css/smart_wizard_theme_dots.min.css' %}">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'adminlte/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- Page CSS -->
<link rel="stylesheet" href="{% static 'app_sme12/css/register_form.css' %}">
{% endblock %}

{% block headcontent %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">ลงทะเบียนสุดยอด SME</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Starter Page</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock%}


{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<section class="content">
    <div class="container-fluid">  
        <form action="" method="POST" id="registerSme" data-amphur-url="{% url 'ajax_load_amphur' %}" data-tumbol-url="{% url 'ajax_load_tumbol' %}" data-busgroup-url="{% url 'ajax_load_busgroup' %}" data-employment-url="{% url 'ajax_load_employment' %}" data-revenue-url="{% url 'ajax_load_revenue' %}">
        {% csrf_token %}
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1">ส่วนที่ 1<br /><small></small></a></li>
                    <!-- <li><a href="#step-2">ส่วนที่ 2<br /><small></small></a></li> -->
                    <!-- <li><a href="#step-3">ส่วนที่ 3<br /><small></small></a></li> -->
                </ul>
                <div>
                    <div id="step-1" class="">
                        <!-- ข้อมูลพื้นฐาน -->
                        <div class="card card-default">
                            <div class="card-header">
                            <h3 class="card-title">1.1 ข้อมูลพื้นฐาน (โปรดกรอกข้อมูลให้ครบถ้วนชัดเจนที่สุด)</h3>  
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">    
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.regis_code.id_for_label }}" class="col-sm-4 col-form-label">{{ form.regis_code.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.regis_code class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">

                                            </div>
                                        </div>
                                    </div>
                                </div>                                                          
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_name.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_name.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_name class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_establish_date.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_establish_date.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_establish_date class="form-control" placeholder="โปรดระบุ"%}                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">                                
                                            <label for="{{ form.ent_sme_code.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_sme_code.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_sme_code class="form-control"%}
                                            </div>
                                        </div>                          
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_sme_connext_code.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_sme_connext_code.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_sme_connext_code class="form-control" %}
                                            </div>
                                        </div>                                         
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">                        
                                        <div class="form-group row">                                
                                            <label for="{{ form.ent_address_no.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_address_no.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_address_no class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>                          
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-3">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_mu.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_mu.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_mu class="form-control" %}
                                            </div>
                                        </div>                                         
                                    </div>
                                    <div class="col-md-3">                        
                                        <div class="form-group row">                                
                                            <label for="{{ form.ent_soi.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_soi.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_soi class="form-control" %}
                                            </div>
                                        </div>                          
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-3">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_street.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_street.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_street class="form-control" %}
                                            </div>
                                        </div>                                         
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_province.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_province.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_province class="form-control select2bs4" %}
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_amphur.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_amphur.label }}</label>
                                            <div class="col-sm-8">
                                                <!-- {% render_field form.ent_amphur class="form-control select2bs4"%}   -->
                                                <select class="form-control select2bs4" name="ent_amphur" id="id_ent_amphur">
                                                    <option value="" selected="" >-- โปรดเลือก --</option>
                                                    {% for option in init_amphur %}
                                                       <option value="{{ option.id }}" data-postcode={{ option.postcode }} >{{ option.name }}</option>
                                                    {% endfor %}
                                                </select>                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_tumbol.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_tumbol.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_tumbol class+="select2bs4 form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_postcode.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_postcode.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_postcode class="form-control" placeholder="โปรดระบุ"%}                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_tel.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_tel.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_tel class="form-control" placeholder="โปรดระบุ" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_fax.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_fax.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_fax class="form-control"%}                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_email.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_email.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_email class="form-control" placeholder="โปรดระบุ" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.ent_website.id_for_label }}" class="col-sm-4 col-form-label">{{ form.ent_website.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.ent_website class="form-control"%}                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3 class="card-title">1.2 ชื่อเจ้าของกิจการ/ผู้มีอานาจลงนามแทนกิจการ</h3>   
                                    <hr class="solid">                                 
                                </div>                                
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_name.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_name.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_name class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_card_id.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_card_id.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_card_id class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_address_no.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_address_no.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_address_no class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_mu.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_mu.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_mu class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_soi.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_soi.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_soi class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_street.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_street.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_street class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_province.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_province.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_province class="form-control select2bs4"%}
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_amphur.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_amphur.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_amphur class="form-control select2bs4"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_tumbol.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_tumbol.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_tumbol class="form-control select2bs4"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_postcode.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_postcode.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_postcode class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_tel.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_tel.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_tel class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_fax.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_fax.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_fax class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_mobile.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_mobile.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_mobile class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.owner_email.id_for_label }}" class="col-sm-4 col-form-label">{{ form.owner_email.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.owner_email class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <h3 class="card-title">1.3 รูปแบบการจัดตั้งกิจการ</h3>   
                                    <hr class="solid">                                 
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.business_model.id_for_label }}" class="col-sm-4 col-form-label">{{ form.business_model.label }}</label>
                                            <div class="col-sm-8">
                                                <!-- {% render_field form.business_model class="form-control select2bs4" placeholder="โปรดระบุ"%} -->
                                                <!-- {{ form.business_model|set_data:"filters:OverText" }} -->
                                                <select class="form-control select2bs4" name="business_model" id="id_business_model">
                                                    <option value="" selected="" >-- โปรดเลือก --</option>
                                                    {% for option in business_model %}
                                                       <option value="{{ option.id }}" data-model-group={{ option.model_group }} data-model-code={{ option.code }}>{{option.code}} - {{ option.name }}</option>
                                                    {% endfor %}
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row bus_model_etc1">
                                            <label for="{{ form.bus_model_etc1.id_for_label }}" class="col-sm-4 col-form-label">{{ form.bus_model_etc1.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.bus_model_etc1 class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                        <div class="form-group row bus_model_etc2">
                                            <label for="{{ form.bus_model_etc2.id_for_label }}" class="col-sm-4 col-form-label">{{ form.bus_model_etc2.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.bus_model_etc2 class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row juristic_id">
                                            <label for="{{ form.juristic_id.id_for_label }}" class="col-sm-4 col-form-label">{{ form.juristic_id.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.juristic_id class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                        <div class="form-group row card_id">
                                            <label for="{{ form.card_id.id_for_label }}" class="col-sm-4 col-form-label">{{ form.card_id.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.card_id class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                        <div class="form-group row regis_number">
                                            <label for="{{ form.regis_number.id_for_label }}" class="col-sm-4 col-form-label">{{ form.regis_number.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.regis_number class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row commercial_regis_number">
                                            <label for="{{ form.commercial_regis_number.id_for_label }}" class="col-sm-4 col-form-label">{{ form.commercial_regis_number.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.commercial_regis_number class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="row">
                                    <h3 class="card-title">1.4 ชื่อผู้ติดต่อประสานงาน</h3>   
                                    <hr class="solid">                                 
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.contact_name.id_for_label }}" class="col-sm-4 col-form-label">{{ form.contact_name.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.contact_name class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.contact_position.id_for_label }}" class="col-sm-4 col-form-label">{{ form.contact_position.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.contact_position class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.contact_tel.id_for_label }}" class="col-sm-4 col-form-label">{{ form.contact_tel.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.contact_tel class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.contact_email.id_for_label }}" class="col-sm-4 col-form-label">{{ form.contact_email.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.contact_email class="form-control" placeholder="โปรดระบุ"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3 class="card-title">1.5 ประเภทกิจการ</h3>   
                                    <hr class="solid">                                 
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.business_type.id_for_label }}" class="col-sm-4 col-form-label">{{ form.business_type.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.business_type class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.business_group.id_for_label }}" class="col-sm-4 col-form-label">{{ form.business_group.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.business_group class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.product_info.id_for_label }}" class="col-sm-4 col-form-label">{{ form.product_info.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.product_info class="form-control" rows="3"%}
                                                <!-- <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.material.id_for_label }}" class="col-sm-4 col-form-label">{{ form.material.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.material class="form-control" rows="3"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.otop.id_for_label }}" class="col-sm-4 col-form-label">{{ form.otop.label }}</label>
                                            <div class="col-sm-8">
                                                <!-- {% render_field form.otop class="form-control" type="select"%} -->
                                                <select name="otop" class="form-control" id="id_otop">
                                                    <option value="" selected="">-- โปรดเลือก --</option>
                                                    <option value=True>มี</option>
                                                    <option value=False>ไม่มี</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3 class="card-title">1.6 จำนวนการจ้างงาน และรายได้ของกิจการต่อปี</h3>   
                                    <hr class="solid">                                 
                                </div> 
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.f_employment.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_employment.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_employment class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row employment_etc">
                                            <label for="{{ form.f_employment_etc.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_employment_etc.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_employment_etc class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.f_revenue.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_revenue.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_revenue class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row revenue_etc">
                                            <label for="{{ form.f_revenue_etc.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_revenue_etc.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_revenue_etc class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3 class="card-title">2. ข้อมูลเกี่ยวกับการดำเนินกิจการ</h3>   
                                    <hr class="solid">                                 
                                </div> 
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.f_cap.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_cap.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_cap class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.f_profit.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_profit.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_profit class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3 class="card-title">3. ท่านรับรู้ข้อมูลข่าวสารการประกวดจากช่องทาง (เลือกได้หลายข้อ)</h3>   
                                    <hr class="solid">                                 
                                </div> 
                                <div class="row">
                                    <div class="col-md-6">                        
                                        <div class="form-group row">
                                            <label for="{{ form.f_promote.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_promote.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_promote class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">          
                                        <div class="form-group row">
                                            <label for="{{ form.f_promote_etc.id_for_label }}" class="col-sm-4 col-form-label">{{ form.f_promote_etc.label }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.f_promote_etc class="form-control"%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer" style="display: block;">              
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    </div> 
                    <input type="submit" name="submit">                                                                         
                </div>                         
            </div>                       
        </form>
    </div>
</section>
{% endblock %}


{% block scripts %}
<!-- SmartWizard -->
<script src="{% static 'smart-wizard/dist/js/jquery.smartWizard.min.js' %}"></script>
<!-- jquery-validation -->
<script src="{% static 'adminlte/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/jquery-validation/additional-methods.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- InputMask -->
<!-- <script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script> -->
<script src="{% static 'adminlte/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- Jquery-maskMoney -->
<script src="{% static 'jquerymaskmoney/jquery.maskMoney.js' %}"></script>

<!-- page script -->
<script src="{% static 'app_sme12/js/register_form.js'%}"></script>
<script src="{% static 'app_sme12/js/register_form_validate.js'%}"></script>

{% endblock %}
